<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lmx.general_core">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.lmx.generalec.base.PermissionsActivity"
            android:theme="@style/NoActionBar.Permissions"/>
    </application>

</manifest>
